/* Pagamento */
.pagamento{
    background: #fdfafa;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    font-weight: 100;
}

/* Seção logos */
.elo, .pago, .visa{
    width: 110px;
    height: 40px;
}
.master{
    width: 80px;
    height: 50px;
}